html {
  display: block;
}
head {
  display: none;
}
body {
  display: block;
  margin: 0;
  padding: 0;
}
header {
  display: block;
  margin: 0;
  padding: 0;
}
main {
  display: block;
  margin: 0;
  padding: 0;
}
footer {
  display: block;
  margin: 0;
  padding: 0;
}
div {
  display: block;
  margin: 0;
  padding: 0;
}
section {
  display: block;
  margin: 0;
  padding: 0;
}
article {
  display: block;
  margin: 0;
  padding: 0;
}
aside {
  display: block;
  margin: 0;
  padding: 0;
}

body>header {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
body>footer {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
